<h1>Round {{round.number}}</h1>
<h2>Player: {{player.name}}</h2>
<form class="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <mat-form-field class="input">
    <mat-select placeholder="Select a move" [(value)]="move">
      <mat-option *ngFor="let move of moves" [value]="move" name="move">
        {{move.move}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <div *ngIf="move._id != 0">
    <button type="submit" mat-flat-button color="primary" >OK</button>
    <small> Tip: {{move.move}} move beats {{move.kills}} </small>
  </div>
</form>
<br>
<mat-card class="card" *ngIf="game != null">
  <mat-card-header>
      <mat-card-title>
          Score
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-list role="list">
          <mat-list-item role="listitem" *ngIf="game.rounds.length == 1 && game.rounds[0].winner == null">
            <small>No one's scored yet. Make a move!</small>
          </mat-list-item>
          <div *ngIf="game.rounds.length > 1 || game.rounds[0].winner != null">
            <mat-list-item role="listitem" *ngFor="let r of game.rounds">
                <p *ngIf="r.winner != null">Round {{r.number}} - Winner: {{r.winner.name}}</p>
                <p *ngIf="r.number > round.number && r.winner == null">Round {{r.number}} - Draw</p>
              </mat-list-item>
          </div>
          
      </mat-list>
  </mat-card-content>
</mat-card>
