button {
    float: right;
    margin-right: 8px;
}

.card {
    max-width: 500px;
    min-width: 150px;
    margin: auto;
}

h1, h2 {
    text-align: center;
}

.form {
    max-width: 500px;
    min-width: 150px;
    margin: auto;
    overflow: auto;
}

.input {
    width: 100%;
}


